<form action="/recipes" method="POST">
  <input type="text" name="name" value="recipe_name" placeholder="Give recipe a name">
  <input type="text" name="ingredients" value="recipe_ingredients" placeholder="List ingredients">
  <input type="text" name="cook_time" value="recipe_cook_time" placeholder="Cook time?">
  <input type="submit" value="submit">
</form>
